header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}
.logo {
  font-weight: bold;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  font-size: 16px;
}

nav a.active {
  background-color: #e6e6e6;
  padding: 8px 12px;
  border-radius: 5px;
}
